.page-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.page-search h1 {
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}

.page-search input {
  background-color: rgb(23, 23, 23);
  border: none;
  border-bottom: 1px solid rgb(83, 83, 83);
  color: whitesmoke;
  font-size: 14px;
  margin-right: 5px;
  max-width: 400px;
  min-width: 190px;
  padding: 8px;
  width: 40%;
}

.page-search input:focus {
  background-color: rgb(23, 23, 23);
  border-bottom: 1px solid whitesmoke;
  outline: none;
}

.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid rgb(41, 41, 41);
  border-radius: 8px;
  box-sizing: border-box;
  color: rgb(170, 170, 170);
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  outline: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;

}

.button-28:disabled, .button-28:disabled:hover {
  border: 2px solid rgb(29, 29, 29);
  color: rgb(91, 91, 91);
  cursor: not-allowed;
}


.button-28:enabled:hover {
  background-color: rgb(41, 41, 41);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  color: white;
  transform: translateY(-2px);
}

.button-28:enabled:active {
  box-shadow: none;
  transform: translateY(0);
}

.albunsDiv {
  display: flex;
  flex-wrap: wrap;
}

.albunsDiv h2 {
  text-align: center;
  width: 100%;
}

.albunsDiv p {
  margin-bottom: 30px;
  margin-left: 30px;
  width: 100%;
}

.albumCard {
  align-items: center;
  background-color: rgb(17, 17, 17);
  border-radius: 15px;
  box-shadow: 1px 1px 5px 1px black;
  display: flex;
  flex-direction: column;
  height: 230px;
  justify-content: center;
  margin: 10px;
  user-select: none;
  width: 200px;
}

.albumCard img {
  align-self: center;
  height: 100px;
  width: 100px;
}

.albumCard:hover {
  background-color: rgb(11, 11, 11);
  cursor: pointer;
  transition: 0.2s;
}

.albumCard:active {
  box-shadow: inset 1px 1px 3px 1px black;
  transform: translate(1px, 1px);
  transition: 0.1s;
}

.albumCard p {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  width: fit-content;
}

.nomeAlbum {
  font-size: 14px;
  font-weight: 400;
}

.artist {
  font-size: 11px;
  font-weight: 300;
}

.albumLink {
  color: inherit;
  text-decoration: none;
}
